#title {
    font-size: 26px;
    text-align: left;
    position: relative;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#backb {
    margin-top: 10px;
}
p {
    margin: 2em;
    font-size: larger;
    text-align: left;
}
ion-range {
   margin-left: 1em;  
   margin-right: 1em;
}
ion-label {
   margin-left: 1em;  
   margin-right: 1em;
}
.boutonsdroite {
   text-align: end;
   margin: 1em;
}

ion-content {
   position: absolut;
   top: 10%;
}