#title {
    font-size: 26px;
    text-align: left;
    position: relative;
    padding-left: 30px;
}
.paddingbot5px {
    padding-bottom: 5px;
}
#boutonsbas {
    position: absolute;
    bottom: 0%;
    margin: 0px;
    padding:0px;
    border: 0px;
    right: 0%;
    left: 0%;
}
#boutonsbas2 {
    position: absolute;
    bottom: 0%;
    margin: 0px;
    padding:0px;
    border: 0px;
    right: 0%;
    left: 0%;
    
}
ion-col {
    margin: 0px;
    padding: 0px;
}
ion-row {
    margin: 0px;
    padding: 0px;
}
.basb {
    margin: 0px;
    padding: 0px;
    height: 80px;
    font-size: 25px;
}
#bas {
    margin: 0px;
    padding: 0px;
    height: 80px;
    font-size: 25px;
}
.boutonsdroite {
    text-align: end;
    margin: 1em;
}
p {
    margin: 2em;
    font-size: larger;
    text-align: left;
}
ion-content {
    position: relative;
    bottom: 80px;
    top: 0px;
}
